# Logs
vuejs/logs
vuejs/*.log
vuejs/npm-debug.log*
vuejs/yarn-debug.log*
vuejs/yarn-error.log*
vuejs/vuejs/pnpm-debug.log*
vuejs/lerna-debug.log*

vuejs/node_modules
vuejs/package-lock.json
vuejs/.DS_Store
vuejs/dist
vuejs/dist-ssr
vuejs/coverage
vuejs/*.local

vuejs//cypress/videos/
vuejs//cypress/screenshots/

# Editor directories and files
vuejs/.vscode/*
vuejs/!.vscode/extensions.json
vuejs/.idea
vuejs/*.suo
vuejs/*.ntvs*
vuejs/*.njsproj
vuejs/*.sln
vuejs/*.sw?

vuejs/*.tsbuildinfo

nodejs/package-lock.json
nodejs/node_modules
nodejs/.env
nodejs/config/config.json


